@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--primary-button: #ff03ca;
}

body {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #fff;
	color: #333;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

/* Blockquote by Harm Putman https://codepen.io/harmputman/pen/IpAnb */
.synop0 blockquote {
	display: block;
	border-width: 2px 0;
	border-style: solid;
	border-color: #ece8fd;
	padding: 1.5em 0 0.5em;
	margin: 1.5em 0;
	font-size: 20px;
	position: relative;
	font-family: 'Spectral', serif;
}

.synop0 blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0em;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
  	-webkit-transform: translate(-50%, -50%); /* Safari 3-8 */
	transform: translate(-50%, -50%);
	background: #fff;
	width: 3rem;
	height: 2rem;
	font: 6em 'PT Sans', sans-serif;
	line-height: 1em;
	color: #ff5d74;
	text-align: center;
}

.synop0 blockquote:after {
	content: "\2013  " attr(cite);
	display: block;
	padding-top: 16px;
	text-align: right;
	font-size: 1em;
	color: #619e07;
}

.synop1 blockquote {
	display: block;
	border-width: 2px 0;
	border-style: solid;
	border-color: #ece8fd;
	padding: 1.5em 0 0.5em;
	margin: 1.5em 0;
	font-size: 20px;
	position: relative;
	font-family: 'Spectral', serif;
}

.synop1 blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0em;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
  	-webkit-transform: translate(-50%, -50%); /* Safari 3-8 */
	transform: translate(-50%, -50%);
	background: #fff;
	width: 3rem;
	height: 2rem;
	font: 6em 'PT Sans', sans-serif;
	line-height: 1em;
	color: #ff02ca;
	text-align: center;
}

.synop1 blockquote:after {
	content: "\2013  " attr(cite);
	display: block;
	padding-top: 16px;
	text-align: right;
	font-size: 1em;
	color: #2196F3;
}

.synop2 blockquote {
	display: block;
	border-width: 2px 0;
	border-style: solid;
	border-color: #ece8fd;
	padding: 1.5em 0 0.5em;
	margin: 1.5em 0;
	font-size: 20px;
	position: relative;
	font-family: 'Spectral', serif;
}

.synop2 blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0em;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 3rem;
	height: 2rem;
	font: 6em 'PT Sans', sans-serif;
	line-height: 1em;
	color: #52c2c3;
	text-align: center;
}

.synop2 blockquote:after {
	content: "\2013  " attr(cite);
	display: block;
	padding-top: 16px;
	text-align: right;
	font-size: 1em;
	color: #E91E63;
}

a:link, a:visited {
	text-decoration: none;
	color: #111;
	opacity: 1;
}

a:hover, a:active {
	text-decoration: underline;
}

.container {
	width: 90vw;
	margin: 0 auto;
}

.content-wrap {
	max-width: 1000px;
	overflow: auto;
	margin: 0 auto;
	padding: 10px;
}

header {
	width: 100%;
	padding: 20px 0;
	background-color: transparent;
	overflow: auto;
}

header .navbar-default {
	position: relative;
	top: 12px;
}

header #logo {
	float: left;
}

header ul {
	list-style-type: none;
	float: right;
}

header li {
	display: inline;
	padding-right: 20px;
}

header li:last-child {
	padding-right: 0;
}

.navbar-default {
	position: relative;
	top: 12px;
}

section {
	width: 100vw;
	padding: 60px 0;
}

#synopsis {
	overflow: auto;
}

#synopsis .container {
	display: flex;
	justify-content: center;
}

#synopsis .container .book-cover, #synopsis .container .description {
	width: 50%;
	max-width: 480px;
}

.synop0, .synop1, .synop2 {
	background-color: transparent;
}

.synop0 .order {
	text-decoration: none !important;
	font-size: 16px;
	padding: 20px 48px;
	border: none;
	border-radius: 36px;
	background-color: #ff5d74;
	opacity: 1 !important;
	color: #fff !important;
	box-shadow: 0px 2px 10px rgb(150, 124, 252, 0.5);
}

.synop1 .order {
	text-decoration: none !important;
	font-size: 16px;
	padding: 20px 48px;
	border: none;
	border-radius: 36px;
	background-color: var(--primary-button);
	opacity: 1 !important;
	color: #fff !important;
	box-shadow: 0px 2px 10px rgb(150, 124, 252, 0.5);
}
.synop2 .order {
	text-decoration: none !important;
	font-size: 16px;
	padding: 20px 48px;
	border: none;
	border-radius: 36px;
	background-color: #52c2c3;
	opacity: 1 !important;
	color: #fff !important;
	box-shadow: 0px 2px 10px rgb(150, 124, 252, 0.5);
}

.blurbs {
    display: block;
    background-color: #f9efef;
    padding: 80px 0;
}

#blurb1, #blurb2, #blurb3, #blurb4, #blurb5 {
	width: 100%;
    display: inline-block;
}

.blurbs div p {
	display: block;
	width: 100%;
	text-align: center;
}

.quote {
	font-size: 24px;
	max-width: 900px;
	margin: 0 auto;
}

#events {
	background-color: transparent;
	text-align: center;
}

.date-info {
	opacity: 0.6;
}

#writings {
	text-align: center;
	background-color: transparent;
}

#writings ul {
	list-style-type: none;
}

#writings li {
	display: block;
}

#about {
	background-color: transparent;
	overflow: auto;
	text-align: center;
}

#bio {
	max-width: 570px;
	margin: 0 auto;
	text-align: left;
}

#press {
	text-align: center;
	background-color: transparent;
}

#press ul {
	list-style-type: none;
}

#press li {
	display: block;
}

#contact {
	background-color: transparent;
	text-align: center;
}

.social a {
	font-size: 24px;
	padding-right: 18px;
}

.social a:last-child {
	padding-right: 0px;
}

#bookcover {
	margin-right: 20px;
	float: left;
	width: 90%;
	max-width: 400px;
	height: auto;
}

/* .slick-slider .slick-list {
        display: flex;
	align-items: center;
} */

img {
	opacity: 1;
	transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}

.col-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-container-1, .col-container-2, .col-container-3 {
	max-width: 25vw;
}

#writings .container {
	display: flex;
	flex-direction: column;
	width: 60vw;

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	font-size: 12px;
	padding: 18px 0;
	background-color: transparent;
}

@media only screen and (max-width: 768px) {
	header #logo{
		float: none;
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	header ul {
		float: none;
		text-align: center;
	}
	header li{
		padding-right: 10px;
		font-size: 14px;
	}
	#synopsis .container {
		flex-direction: column;
	}
	#bookcover {
		height: 100%;
	}
	#synopsis .container .book-cover, #synopsis .container .description {
		width: 100%;
		max-width: 100%;
	}
	#synopsis .container .book-cover {
		display: flex;
		justify-content: center;
	}
	.col-container {
	flex-direction: column;
	}
	.col-container-1, .col-container-2, .col-container-3 {
	max-width: 90vw;
	}
	#bookcover {
		float: none;
	}
	#writings .container {
		display: flex;
		flex-direction: column;
		width: 90vw;
	}
}
