* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: WHITESMOKE;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.3);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 3px;
}

#topBtn:hover {
	background-color: rgba(0,0,0,0.5);
}

.container {
	width: 90vw;
	margin: 0 auto;
}

.navbar-default {
	position: relative;
	top: 12px;
}

.navbar-default a:link, a:visited {
	text-decoration: none;
	color: WHITESMOKE;
}

.navbar-default a:hover, a:visited {
	text-decoration: underline;
}

header {
	width: 100%;
	padding: 20px 0;
	background-color: SALMON;
	overflow: auto;
}

header #logo {
	float: left;
	font-size: 30px;
}

header ul {
	list-style-type: none;
	float: right;
}

header li {
	display: inline;
	padding-right: 20px;
}

header li:last-child {
	padding-right: 0;
}

section {
	width: 100vw;
	padding: 60px 0;
}

section a:link, a:visited {
	text-decoration: none;
	color: WHITESMOKE;
	opacity: 0.7;
}

section a:hover, a:visited {
	text-decoration: underline;
	opacity: 1;
}

#synopsis {
	background-color: SALMON;
	padding-top: 40px !important;
	overflow: auto;
}

.preorder {
	font-size: 16px;
	padding: 12px 32px;
	border: none;
	border-radius: 25px;
	background-color: WHITESMOKE !important;
	opacity: 1 !important;
	color: SALMON !important;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.preorder:hover {
	text-decoration: none;
}

#blurb {
	background-color: WHITESMOKE;
	text-align: center;
	color: #222 !important;
}

.quote {
	font-size: 22px;
	max-width: 800px;
	margin: 0 auto;
}

#events {
	background-color: #f8c66d;
	text-align: center;
	color: #222;
}

.date-info {
	opacity: 0.6;
}

#writings {
	text-align: center;
	background-color: LIGHTSEAGREEN;
}

#writings ul {
	list-style-type: none;
}

#writings li {
	display: block;
}

#about {
	background-color: CORNFLOWERBLUE;
	overflow: auto;
	text-align: center;
}

#bio {
	max-width: 480px;
	margin: 0 auto;
}

#press {
	text-align: center;
	background-color: #95a5b3;
}

#press ul {
	list-style-type: none;
}

#press li {
	display: block;
}

#contact {
	background-color: #25232e;
	text-align: center;
}

.social a {
	font-size: 24px;
	padding-right: 18px;
}

.social a:last-child {
	padding-right: 0px;
}

#bookcover {
	margin-right: 20px;
	float: left;
	width: 90%;
	max-width: 400px;
	height: auto;
}

img {
	opacity: 1;
	transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}

footer {
	text-align: center;
	color: rgba(255,255,255,0.3) !important;
	font-size: 12px;
	padding: 18px 0;
	background-color: #25232e;
}

@media only screen and (max-width: 728px) {
	header #logo{
		float: none;
		text-align: center;
	}
	header ul {
		float: none;
		text-align: center;
	}
	header li{
		padding-right: 10px;
		font-size: 14px;
	}
}
